/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  cursor: pointer;
  margin-top: 15px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color .5s;

  @include for-width($media-med) {
    padding: 10px 30px;

    & + & {
      margin-left: 10px;
    }
  }
}

.default {
  @include btn-color($color-secondary);
}

.error {
  @include btn-color($color-error);
}

.info {
  @include btn-color($color-info);
}

.success {
  @include btn-color($color-success);
}

.warning {
  @include btn-color($color-warning);
}
