/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
  padding: 0 10px;

  @include for-width($media-med) {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.row {
  display: flex;
  flex-direction: column;
  padding: 1em 10px;

  @include for-width($media-med) {
    flex-direction: row;
  }
}

[class^=col] {
  margin-top: 10px;
  flex-basis: 100%;
  min-height: 25px;
  padding: 10px;
  border-radius: 5px;
}

// Not happy about having to use a number for the key to achieve this.
// Any way around this?
@each $i, $color in $themes {
  .theme.col-#{$i} {
    background-color: $color;
  }
}

.card {
  flex-basis: 100%;
}

@include for-width($media-med) {
  .centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .row {
    flex-direction: row;
  }

  [class^=col] {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;

    & + & {
      margin-left: 10px;
    }
  }

  @each $i, $width in $col-widths {
    .col-#{$i} {
      flex-basis: $width;
    }
  }
}
